h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: center;
	background-color: beige;
}
.menuBar {
	font-size: 16pt;
	color: green;
	background-color: #777777;
}
.textArea {
	font-size: 16pt;
	color: blue;
	margin: 40px 0px 30px;
}
.label {
	font-size: 16pt;
	color: #777777;
}