h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: center;
	background-color: beige;
}

.nameColumStyle{
	text-align: center;
	font-size: 0.6em;
	position: center;	
}

.cellTableFooter {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
}



button.gwt-Button {
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  margin-left: 2%;
  border: solid 2px #d3d4d6;
  height: 28px;
  width: 18%;
  background-color: #e4e4e4;
  font: normal 0.8em arial, helvetica, verdana, sans-serif;
}

#pressed button.gwt-Button{
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  margin-left: 2%;
  border: solid 2px #d3d4d6;
  height: 28px;
  width: 18%;
  background-color: #e4e4e4;
  font: normal 0.8em arial, helvetica, verdana, sans-serif;
}

button.gwt-Button:active, button.ecwid-MessageBox-button:active {
	background: #40C757;
}

.categoryButton{
	color: blue;
	width: 18%;
	height: 2.5em;
}

.timeButton {
	color: blue;
	height: 2.5em;
	width: 18%;
}

table {
	width: 100%;
}

.divCategoryButton {
	width: 100%;
}

.divTimeButton{
	width: 100%;
}

#listOfEvents{
	margin: 1% 0px 0px;
	background-color: beige;
}

#categoryButton, #timeButton{
	text-align: center;	
}

#elementPager{
	margin-left: auto;
	width: 180px;
    margin-right: auto;
	text-align: center;
}

.cellTableSelectedRow {
  background: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}

#pressed-button{
  color: green;
}

#non-pressed-button{
  color: blue;
}

.menuBar {
	font-size: 16pt;
	color: green;
	align: left;
	background-color: #FFDEAD;
}

.column1Description{
	font-size: 1em;
	background-color: #D2B9D3; 
	font-weight: bold;
	text-align: center;
}

.column2Description{
	font-size: 1em;
	background-color: #EBDDE2; 
	text-align: center;
}

.hide{
	display:none;
}

.show{
	display:block;
}

.gwt-PasswordTextBox{
	width:20%;
}
.gwt-TextBox{
	width:20%;
}