
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: center;
	background-color: beige;
}

.categoryButton {
	margin: 20px 0px 20px;
	display: inline;
	font-size: 1em;
	color: green;
	background-color: #777777;
}

.gwt-Button {
  padding: 10px 10px;
  font-size: medium;
  cursor: pointer;
  cursor: hand;
  border: 10px outset #ccc;
}

.timeButton {
	display: inline;
	font-size: 16pt;
	color: blue;
}

#listOfEvents{
	margin: 40px 0px 0px;
	background-color: beige;
	text-align: center;
}

#categoryButton, #timeButton{
	text-align: center;	
}

#elementPager{
	margin-left: auto;
	width: 160px;
    margin-right: auto;
	text-align: center;
}
	
